<a href="https://colab.research.google.com/github/nagaruthvik/-week2-JFS2-CipherSchools/blob/main/catdataPre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df =  pd.read_csv("/adult.data",header=None,na_values=" ?")
print(df.isna().sum())

In [3]:
from sklearn.impute import SimpleImputer

In [5]:

df=pd.DataFrame(SimpleImputer(strategy="most_frequent").fit_transform(df))

In [ ]:
print(df)

In [ ]:
from sklearn.preprocessing import LabelEncoder
columns=[1,3,5,6,7,8,9,13,14]
for i in columns:
  df[i]=LabelEncoder().fit_transform(df[i])
print(df.head())

In [ ]:
df=pd.DataFrame([[1,'x','male','good'],[2,'y','female','good'],[3,'z','male','average']],columns=['id','name','gender','feedback'])
print(df)

In [ ]:
gen={'male':1,'female':2}
df['gender']=df['gender'].map(gen)
print(df)

In [26]:
df=pd.get_dummies(df,columns=['feedback','gender'])
print(df)

   id name  feedback_1  feedback_2  gender_1  gender_2
0   1    x           1           0         1         0
1   2    y           1           0         0         1
2   3    z           0           1         1         0

In [35]:
df=pd.DataFrame(np.arange(1.0,7.0,1),columns=['a'])
df

     a
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0

In [41]:
from sklearn.preprocessing import MinMaxScaler
df=pd.DataFrame(MinMaxScaler().fit_transform(df))
df

     0
0  0.0
1  0.2
2  0.4
3  0.6
4  0.8
5  1.0

In [42]:
from sklearn.preprocessing import StandardScaler
df=pd.DataFrame(StandardScaler().fit_transform(df))
df

         0
0 -1.46385
1 -0.87831
2 -0.29277
3  0.29277
4  0.87831
5  1.46385